/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--color, #000);
  font-family: Inter, sans-serif;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--text-weight, 400);
  min-inline-size: 320px;
  min-block-size: 100dvh;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  border: 2px solid var(--color, #000);
  font-family: var(--accent-font, PressStart2P), sans-serif;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
  inline-size: clamp(320px, 100dvw, 700px);
}

.header-title {
  grid-row: 2 / span 1;
  margin-top: 16px;
  text-align: center;
}

@media (width < 376px) {
  .header-title {
    margin-top: 0;
  }
}

.header-title h1 {
  margin-bottom: 20px;
  font-size: clamp(49px, 1.9087rem + 4.9231vw, 65px);
}

.header-title h2 {
  font-size: clamp(14px, 0.226rem + 2.7692vw, 23px);
}

.header__theme-menu {
  grid-row: 3 / span 1;
  margin-left: 20px;
  padding: 23px 0;
  font-size: 14px;
}

.theme-menu__button {
  text-transform: uppercase;
}

.theme-menu__list li:not(:last-child) {
  margin-bottom: 10px;
}

.theme-menu__button:enabled {
  position: relative;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:enabled:hover {
  opacity: 0.6;
}

.theme-menu__button:enabled:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:enabled:focus {
  outline: none;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.main {
  margin: 0 auto;
  inline-size: clamp(320px, 100dvw, 700px);
}

.card {
  margin-bottom: 50px;
  border: 2px solid var(--color, #000);
  background-color: var(--bg-color, #fff);
}

.card-title {
  border-bottom: 2px solid var(--color, #000);
  padding: 2px 0 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--h-weight, 700);
}

.card-img-container {
  position: relative;
}

.card-img {
  display: block;
  object-fit: cover;
  object-position: right;
  inline-size: 100%;
  block-size: clamp(320px, 100dvw, 700px);
}

.hight-grayscale {
  filter: grayscale(70%);
}

.hight-saturate {
  filter: saturate(400%);
} 

.hue-rotate-30 {
  filter: hue-rotate(30deg);
}

.invert {
  filter: invert(0.8);
}

.sepia {
  filter: sepia(90%);
}

.blur-15 {
  filter: blur(15px);
}

.hue-rotate-90__low-contrast__hight-saturate {
  filter: hue-rotate(90deg) blur(2px) contrast(30%) saturate(200%);
}

.card-img-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.6;
  font-family: var(--accent-font, PressStart2P), sans-serif;
  font-size: 14px;
  text-shadow:
  -1px 0 var(--bg-color, #fff), 
  0 1px var(--bg-color, #fff),  
  1px 0 var(--bg-color, #fff), 
  0 -1px var(--bg-color, #fff);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px (--bg-color, #fff)) or (-webkit-text-stroke: 1px (--bg-color, #fff))) {
  .card-img-label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--bg-color, #fff);
      text-stroke: 1px var(--bg-color, #fff);
  }
} 

@media (width < 376px) {
  .card-img-label {
    right: 10px;
  }
}

.card-text-container {
  border-top: 2px solid var(--color, #000);
  padding: 25px;
  font-weight: var(--text-weight, 400);
  font-size: 18px;
}

.card-text {
  margin-bottom: 25px;
  line-height: 21px;
}

.card-button-container {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.card__icon-button {
  width: 43px;
  height: 40px;
  border: 2px solid transparent;
  padding: 0;
  transition: border 0.3s ease;
  cursor: pointer;
}

.contour {
  color: var(--color, #000);
}

.main-body,
.core {
  color: transparent;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus-visible {
  border-color: var(--color, #000);
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  inline-size: 130px;
  block-size: 40px;
}

.button {
  position: relative;
  border: 2px solid var(--color, #000);
  overflow: hidden;
  font-family: var(--accent-font, PressStart2P), sans-serif;
  font-size: 14px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--color, #000);
  outline: none;
}

.button__text {
  color: var(--button-color,#fff);
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: clamp(310px, 17.2115rem + 9.2308vw, 340px);
  margin: 0 auto 100px auto;
  padding: 16px 18px;
  background-color: var(--bg-color, #fff);
}

@media (width < 376px) {
  .svg-save-icon {
    width: 28px;
  }
}

.save-icon {
  color: var(--color, #000);
}

.save-dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  justify-items: center;
  justify-content: left;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  width: clamp(341px, 20.1587rem + 4.9231vw, 357px);
  border: 2px solid var(--color, #000);
  padding: 30px;
  color: var(--color, #000);
  font-family: var(--accent-font, PressStart2P), sans-serif;
  font-size: 14px;
  background-color: var(--bg-color, #fff);
}

.save-dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__save-icon {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.dialog-text {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  line-height: 21px;
  text-transform: uppercase;
}

.close-button {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  width: 100%;
  height: 38px;
  text-transform: uppercase;
}