/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-font: PressStart2P;
  --color: #000;
  --button-color: #fff;
  --bg-color: #fff;
  --heart-color: #ff0000;
  --text-weight: 400;
  --h-weight: 700;
  --bg-gradient:
    repeating-linear-gradient(#d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(-90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
}